<br><br><br><br><br><br>


<h2>진료과목 설명</h2>


<br><br>


<ol>
<li><strong>이비인후과耳鼻喉科</strong></li>
</ol>
<p>귀, 코, 인후(咽頭) 질환에 대한 내-외과적 치료를 전문으로 하는 의료 분과이다.主要通过内外科的治疗解决耳，鼻，喉问题的科室。</p>
<p>세부적으로는 귀를 담당하는 이과(耳科), 코를 담당하는 비과, 인후를 담당하는 두경부 외과 등의 3개 과로 나뉜다.主要分为治疗耳朵相关疾病的是耳科，治疗鼻子相关疾病的是鼻科，治疗咽喉相关疾病的是头颈部外科这三个科室。</p>
<p>대표치료主要治疗</p>
<p>이과 耳科- 청각 장애와 평형 장애, 안면 신경 마비 등의 내/외과적 치료治疗听觉障碍和平衡障碍，面瘫等内外科的科室</p>
<p>비과 鼻科- 비염, 부비동염(축농증), 알레르기성 비염, 코골이, 수면 무호흡증 등治疗鼻炎，鼻窦炎，过敏性鼻炎，打呼噜，睡眠呼吸暂停综合症等疾病。</p>
<p>두경부 외과头颈部外科 - 구강, 인두, 후두, 침샘, 갑상선, 기타 목에 생기는 염증 질환과 종양 등</p>
<p>治疗口腔，咽喉，唾液腺，甲状腺，其他在脖子位置的炎症囊肿等。</p>
<ol start="2">
<li><strong>내과内科</strong></li>
</ol>
<p>일반적으로 성인을 대상으로 수술을 제외하고 약물 등을 이용해 병을 진단하고 치료하는 진료과를 내과 라고 한다.一般以成人为对象，不手术开刀而是用药物治疗来诊疗的科室。</p>
<p>대한 내과 학회에서는 감염 내과 , 내분비대사 내과 , 류머티스 내과 , 소화기 내과 , 순환기 내과 , 신장 내과 , 알레르기 내과 , 혈액종양 내과 , 호흡기 내과 등 9개로 영역을 나누고 있다.根据韩国内科学会分为感染内科，内分泌代谢内科，风湿病内科，消化器内科，循环内科，心脏内科，过敏内科，血液肿瘤内科，呼吸内科等9个领域。</p>
<p>&nbsp;</p>
<p>내과 에서 다루는 질병의 범위는 매우 넓으며, 병원에 따라서는 위의 9개 영역을 더욱 세분화하여 운영하기도 한다.内科可以治的病范围很广，根据病因可以细分为9个小科室。</p>
<ol start="3">
<li><strong>외과外科</strong></li>
</ol>
<p>내과와는 상반되는 분야로 수술을 통해 질병을 치료하는 진료과이다.和内科相反，通过手术来治疗疾病的科室。</p>
<p>외과에서 다루고 있는 영역은 위장 및 소장, 대장 및 항문, 간, 담도, 췌장, 유방 및 내분비 기관, 혈관, 소아외과 등으로 세분할 수 있다.外科又根据不同的部位可以分为胃肠和小肠，大肠，肛门，肝，胰腺，乳房和内分泌器官，血管，小儿科等</p>
<p>각 영역에 대한 질환을 진단하고 외과적 수술을 통하여 치료한다. 최근에는 최소 침습술로 수술 부위를 최소화하여 통증을 경감하고 회복 기간을 단축하는 등, 환자들의 만족도를 높이고 있다.通过外科的手术，最近通过微创手术使手术部位最小化，具有减少疼痛，缩短恢复时间等优点，提高了患者的满意度。</p>
<p>&nbsp;</p>
<ol start="3">
<li><strong>치과牙科</strong></li>
</ol>
<p>치아와 잇몸, 혀, 턱 등을 포함한 구강과 악안면(턱과 얼굴) 영역과 관련된 질병, 또는 구강이나 악안면 영역의 구조와 기능의 비정상 상태를 예방하고 치료하는 전문 의료 분과이다.预防和治疗包含牙齿，牙龈，舌头，下颚等，口腔疾病，下颚，牙齿畸形等问题的专门科室。</p>
<p>치아가 썩거나 잇몸에서 피가 나는 등의 치주 질환을 예방하고 치료하기 위해 가장 많이 이용된다.为了预防和治疗虫牙，牙龈出血等牙周疾病。</p>
<ol start="4">
<li><strong>안과眼科</strong></li>
</ol>
<p>안구와 눈꺼풀, 시신경 등의 안구 주변 부속 기관의 질환을 다루는 과이다.治疗眼球和眼皮，视神经等眼球周边附属器官的疾病的科室。</p>
<p>안과에서는 녹내장 및 백내장, 안(眼) 성형, 소아의 경우 사시, 선천성 안과질환 등을 주로 치료하며, 요즘은 라식 및 라섹, ICL 삽입술 등의 시력 교정술도 많이 시행되고 있다.在眼科里主要治疗青光眼，白内障，眼整形，小孩斜视，先天的眼部疾病等。</p>
<p>最近使用准分子激光手术，ICL 插入术来进行视力矫正术治疗的情况很多。</p>
<p>&nbsp;</p>
<ol start="5">
<li><strong>피부과 皮肤科</strong></li>
</ol>
<p>피부를 비롯해 털, 땀샘, 피지선 등의 피부 부속 기관과 관련 피부에 나타나는 가려움증, 두드러기, 발적(홍반) 등의 모든 이상 증상이나 질환을 전문적으로 치료하고 관리하는 과이다.以治疗皮肤的汗腺，皮脂腺等皮肤附属器官相关的皮肤过敏，起疹，红斑等症状的科室。</p>
<p>최근에는 피부 미용(주름 제거, 지방 이식, 지방 흡입, 보톡스나 필러 주사 등)과 탈모 분야가 각광받고 있다.最近做皮肤美容(去皱纹，脂肪移除，添脂肪，注射肉毒素等)脱毛等的人正在增多。</p>
<ol start="6">
<li><strong>정형외과骨科</strong></li>
</ol>
<p>팔, 다리, 척추 등의 인체의 해부학적 구조와 관련된 뼈, 근육, 관절, 인대 등을 전문적으로 진료하는 과이다.胳膊，腿，脊椎等人体的解剖学的构造相关的骨头，肌肉，缓解，韧带</p>
<p>인체 구조의 형태와 기능을 정상적으로 유지하기 위해 내과적 또는 외과적으로 접근해 치료하고 관리한다. 외상, 감염, 대사성 이상, 선천성 기형, 종양 등으로 생기는 뼈, 근육, 관절, 인대 등의 문제나, 퇴행성 관절염이나 골다공증 같은 퇴행성 질환, 류머티즘 관절염 같은 염증성 질환 등을 다룬다.为了正常维持人体构造的形态和机能，结合了内外科的治疗和管理，由于外伤，感染，代谢异常，先天性畸形，囊肿等引发的骨头，关节，肌肉，韧带等问题，退行性关节炎，骨质疏松等退行性疾病，类风湿等炎症型疾病。</p>
<p>&nbsp;</p>
<ol start="7">
<li><strong>재활의학과康复科</strong></li>
</ol>
<p>다양한 질환이나 외상 때문에 저하된 신체 기능과 사회 심리적 기능을 최대한 회복시키는 전문 의료 분과이다.由于多种病或外伤导致身体和社会心理机能变弱，最大程度地使恢复的专门医疗科室。</p>
<p>&nbsp;</p>
<p>물리 치료, 작업 치료, 언어 치료 등의 특수 의료 서비스를 전문적으로 제공함으로써, 환자의 상태가 악화되는 것을 막고 최적의 건강 상태를 유지 및 증진하게 돕는다.通过提供专门的物理治疗，作业治疗，语言治疗等医疗服务，阻止患者状态恶化，维持和增强健康状态。</p>
<p>&nbsp;</p>
<ol start="8">
<li><strong>소아청소년과小儿科</strong></li>
</ol>
<p>신생아부터 청소년까지의 환자를 대상으로, 성장 발달을 도모하며 해당 시기의 질병을 치료하는 과이다.以新生儿开始到青少年为对象，主要治疗孩子们成长过程中发生的疾病。</p>
<ol start="9">
<li><strong>가정의학과家庭医学科</strong></li>
</ol>
<p>질병, 증상 등과 상관없이 가족을 대상으로 1차적인 건강 문제를 파악해, 포괄적인 의료를 제공하는 과이다.以家庭为单位提供全面的、概括性的医疗服务。</p>
<p>질병의 예방이나 조기 발견을 통해 건강을 유지하고 지속적으로 관리하는 데 1차 진료를 제공하는 역할을 한다.</p>
<p>通过着力于疾病的预防和初期发现，提供初步诊疗以维护健康。</p>
<p>단순히 질병 자체에 집중하는 것이 아니라 신체적, 정신적, 사회적 문제와 관련된 건강 문제에도 폭넓게 관여하며, 전인적(全人的) 의료에 초점을 맞춘다.</p>
<p>不仅仅只是关注于病症的诊治，更考虑身体、精神、社会性等因素对健康的宏观影响，实现以人为本的医疗。</p>
<ol start="10">
<li><strong>성형외과整形外科</strong></li>
</ol>
<p>선천적 기형이나 후천적 변형의 교정을 비롯하여 미용을 목적으로 조직의 이식이나 이동, 보형물 삽입 등의 외과적 술기(術技)를 사용하는 외과 분야를 말한다. 通过对先天畸形或后天变形进行矫正，以实现美容的目的。是使用移植组织或植入假体等外科技术的外科医学。</p>
<p>아름다운 모양으로 만들어 내는 미용 성형이 일반적으로 가장 많이 알려져 있다.</p>
<p>其中，广为人知的是以美容为目的的美容整形。</p>
<p>&nbsp;</p>
<p>성형외과는 크게 미용(성형) 수술과 재건 수술 분야로 나뉜다.</p>
<p>整形外科大致分为美容整形和在建整形手术。</p>
<p>&nbsp;</p>
<p>미용 수술은 쌍꺼풀 수술, 코 수술, 턱 수술, 유방 수술, 지방 흡입술 등의 아름다움을 추구하는 수술을 말하며, 재건 수술은 구순 구개열(입술입천장갈림), 안면 기형, 외상 또는 질병 때문에 생긴 신체 변형 등을 정상적인 모양으로 만들어 주는 수술을 말한다.</p>
<p>美容整形手术包括双眼皮手术、鼻子整形手术、下巴整形手术、丰胸手术、抽脂手术等；在建整形手术包括唇腭裂手术、面部畸形手术、由于外伤或疾病导致身体器官变形的修复手术。</p>
<p>&nbsp;</p>
<ol start="11">
<li><strong>신경외과神经外科</strong></li>
</ol>
<p>뇌와 척수 등의 모든 신경계 질환의 외과적인 부분을 담당하는 진료과이다.主治脑和脊髓等所有神经系统的疾病的外科部分的诊疗科室。</p>
<ol start="12">
<li><strong>산부인과妇产科</strong></li>
</ol>
<p>임신과 출산, 이와 관련된 질환을 다루는 산과(OBSTETRICS)와 자궁 질환, 호르몬 균형 등의 여성 생식기 고유 질병을 다루는 부인과(GYNECOLOGY)를 합쳐 산부인과라고 한다.</p>
<p>和怀孕与生产相关的产科和治疗女性子宫疾病，荷尔蒙分泌均衡等生殖器固有的疾病妇科结合，而被叫做妇产科。</p>
<p>산부인과는 임신, 출산은 물론 여성 고유의 질병을 미리 예방하고 치료하기 때문에 여성의 일생과 밀접한 관계가 있는 진료과이다.妇产科是针对女性怀孕，生产还有预防和治疗妇科病为主，与女性的一生密切相关的科室。</p>
<ol start="13">
<li><strong>내과와 외과内科和外科</strong></li>
</ol>
<p>내과와 외과는 크게 보아서 치료방법에 따라 구분이 된다. 외과학은 인체에 칼을 대어 치료하는 방법에서 시작한 것이다. 반면 내과학은 약물 등을 이용해 병을 진단하고 치료한다. 질병 자체에 내과적 질환과 외과적 질환이 있는 것이 아니고 하나의 병변에 대하여 취해지는 치료의 방법이 내과적인가 외과적인가 차이이다. 내과적 치료의 대표적인 것은 투약에 의한 치료이다.</p>
<p>内科和外科从大体上看来，根据治疗方法的不同可以区分。外科学是对人体动刀手术治疗的方法出发的。反之，内科是利用药来诊疗病症。疾病本身不分是外科病还是内科病，对于一个病采取的治疗方法分为内外科的差异。内科治疗的代表的方法就是服药治疗。</p>
<p>&nbsp;</p>
<ol start="14">
<li><strong>이비인후과와 내과耳鼻喉科和内科</strong></li>
</ol>
<p>많은 사람들이 이비인후과와 내과에 대해 헷갈려 한다. 한국에서는 몸살 감기에 걸렸을 때 내과, 이비인후과 어디를 가든 상관이 없다.</p>
<p>很多人对去什么情况下该去耳鼻喉科和内科看病有些搞不清楚。</p>
<p>알레르기성 비염, 축농증, 인후염, 중이염과 같이 특별하게 인후, 귀, 코에 염증이 생겼다거나 통증이 유발되는 경우라면 이비인후과를 가게되고 설사, 복통, 위염, 부정맥과 같이 몸의 내부에 병이 유발되는 경우라면 내과를 간다.</p>
<p>像过敏性鼻炎，鼻窦炎，咽炎，中耳炎这样的病，特别是，耳鼻喉出现炎症和疼痛的情况去耳鼻喉科就诊。像腹痛，胃炎，拉肚子，心律不齐这样发生在体内的病，得去内科就诊。</p>
<p>중대한 질병의 경우 증상에 따라 세부적인 진료과를 구분하는 것은 의사의 진료가 필수적이기 때문에 꼭 병원에 방문하도록 하자.根据病症的轻重，细分化的诊疗得去哪个科室需要遵循医嘱，一定得去正规医院就诊。</p>
<p>&nbsp;</p>