{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/css/subjectinfo.css">
{{/section}}
<div class="container">

		<div class="row title">
	        <h2 class=" col logoColor text-center">诊疗科目<!--진료과목 설명--></h2>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon"  src="/images/subject/이비인후과.png" alt="耳鼻喉科" >
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 耳鼻喉科 </h4>
		        <p class="list-group-item-text"> 主要通过内外科的治疗解决耳，鼻，喉问题的科室。主要分为治疗耳朵相关疾病的是耳科，治疗鼻子相关疾病的是鼻科，治疗咽喉相关疾病的是头颈部外科这三个科室。<br>
		        <b>主要治疗</b><br>
		        耳科 - 治疗听觉障碍和平衡障碍，面瘫等内外科的科室 <br>
		        鼻科 - 治疗鼻炎，鼻窦炎，过敏性鼻炎，打呼噜，睡眠呼吸暂停综合症等疾病。<br>
		        头颈部外科 - 治疗口腔，咽喉，唾液腺，甲状腺，其他在脖子位置的炎症囊肿等。<br>
		        </p>
		    </div>
		</div>
 		<div class="row border-red">
		    <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/내과.png" alt="内科" >
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 内科 </h4>
		        <p class="list-group-item-text"> 般以成人为对象，不手术开刀而是用药物治疗来诊疗的科室。<br>
		        根据韩国内科学会分为感染内科，内分泌代谢内科，风湿病内科，消化器内科，循环内科，心脏内科，过敏内科，血液肿瘤内科，呼吸内科等9个领域。<br>
		        耳科 - 治疗听觉障碍和平衡障碍，面瘫等内外科的科室 <br>
		        内科可以治的病范围很广，根据病因可以细分为9个小科室。。<br>
		        </p>
		    </div>
 		</div>
		<div class="row border-red">		        
            <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/외과.png" alt="外科">
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 外科 </h4>
		        <p class="list-group-item-text"> 和内科相反，通过手术来治疗疾病的科室。<br>
		        外科又根据不同的部位可以分为胃肠和小肠，大肠，肛门，肝，胰腺，乳房和内分泌器官，血管，小儿科等 <br>
		        通过外科的手术，最近通过微创手术使手术部位最小化，具有减少疼痛，缩短恢复时间等优点，提高了患者的满意度。<br>
		        </p>
		    </div>
        </div>
          <div class="row border-red">
            <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/치과.png" alt="牙科">
            <div class="col-xs-12 col-lg-9">
                <h4 class="list-group-item-heading"> 牙科 </h4>
                <p class="list-group-item-text"> 预防和治疗包含牙齿，牙龈，舌头，下颚等，口腔疾病，下颚，牙齿畸形等问题的专门科室。<br>
                为了预防和治疗虫牙，牙龈出血等牙周疾病。 <br>
                </p>
            </div>
          </div>
		<div class="row border-red">   
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/안과.png" alt="眼科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 眼科 </h4>
			    <p class="list-group-item-text"> 治疗眼球和眼皮，视神经等眼球周边附属器官的疾病的科室。<br>
			    在眼科里主要治疗青光眼，白内障，眼整形，小孩斜视，先天的眼部疾病等。 <br>
			    最近使用准分子激光手术，ICL 插入术来进行视力矫正术治疗的情况很多。 <br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/피부과.png" alt="皮肤科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 皮肤科 </h4>
			    <p class="list-group-item-text"> 以治疗皮肤的汗腺，皮脂腺等皮肤附属器官相关的皮肤过敏，起疹，红斑等症状的科室。<br>
			    最近做皮肤美容(去皱纹，脂肪移除，添脂肪，注射肉毒素等)脱毛等的人正在增多。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/정형외과.png" alt="骨科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 骨科 </h4>
			    <p class="list-group-item-text"> 胳膊，腿，脊椎等人体的解剖学的构造相关的骨头，肌肉，缓解，韧带<br>
			    为了正常维持人体构造的形态和机能，结合了内外科的治疗和管理，由于外伤，感染，代谢异常，先天性畸形，囊肿等引发的骨头，关节，肌肉，韧带等问题，退行性关节炎，骨质疏松等退行性疾病，类风湿等炎症型疾病。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
		    <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/재활과.png" alt="康复科">
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 康复科 </h4>
		        <p class="list-group-item-text"> 由于多种病或外伤导致身体和社会心理机能变弱，最大程度地使恢复的专门医疗科室。<br>
		        通过提供专门的物理治疗，作业治疗，语言治疗等医疗服务，阻止患者状态恶化，维持和增强健康状态。<br>
		        </p>
		    </div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/소아과.png" alt="小儿科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 小儿科 </h4>
			    <p class="list-group-item-text"> 以新生儿开始到青少年为对象，主要治疗孩子们成长过程中发生的疾病。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
		    <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/가정의학과.png" alt="家庭医学科">
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 家庭医学科 </h4>
		        <p class="list-group-item-text"> 以家庭为单位提供全面的、概括性的医疗服务。<br>
		        通过着力于疾病的预防和初期发现，提供初步诊疗以维护健康。<br>
		        不仅仅只是关注于病症的诊治，更考虑身体、精神、社会性等因素对健康的宏观影响，实现以人为本的医疗。<br>
		        </p>
		    </div>
		</div>
		<div class="row border-red">
		    <img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/정형외과.png" alt="整形外科">
		    <div class="col-xs-12 col-lg-9">
		        <h4 class="list-group-item-heading"> 整形外科 </h4>
		        <p class="list-group-item-text"> 通过对先天畸形或后天变形进行矫正，以实现美容的目的。是使用移植组织或植入假体等外科技术的外科医学。<br>
		        其中，广为人知的是以美容为目的的美容整形。<br>
		        整形外科大致分为美容整形和在建整形手术。<br>
		        美容整形手术包括双眼皮手术、鼻子整形手术、下巴整形手术、丰胸手术、抽脂手术等；在建整形手术包括唇腭裂手术、面部畸形手术、由于外伤或疾病导致身体器官变形的修复手术。<br>
		        </p>
		    </div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/병원.png" alt="神经外科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 神经外科 </h4>
			    <p class="list-group-item-text"> 主治脑和脊髓等所有神经系统的疾病的外科部分的诊疗科室。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/산부인과.png" alt="妇产科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 妇产科 </h4>
			    <p class="list-group-item-text"> 和怀孕与生产相关的产科和治疗女性子宫疾病，荷尔蒙分泌均衡等生殖器固有的疾病妇科结合，而被叫做妇产科。<br>
			    妇产科是针对女性怀孕，生产还有预防和治疗妇科病为主，与女性的一生密切相关的科室。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/외과내과비교설명.png" alt="内科和外科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 内科和外科 </h4>
			    <p class="list-group-item-text"> 内科和外科从大体上看来，根据治疗方法的不同可以区分。外科学是对人体动刀手术治疗的方法出发的。反之，内科是利用药来诊疗病症。疾病本身不分是外科病还是内科病，对于一个病采取的治疗方法分为内外科的差异。内科治疗的代表的方法就是服药治疗。<br>
			    </p>
			</div>
		</div>
		<div class="row border-red border-red-bottom">
			<img class="col-lg-2 col-xs-12 media-object img-rounded img-responsive subject-icon" src="/images/subject/병원.png" alt="耳鼻喉科和内科">
			<div class="col-xs-12 col-lg-9">
			    <h4 class="list-group-item-heading"> 耳鼻喉科和内科 </h4>
			    <p class="list-group-item-text"> 很多人对去什么情况下该去耳鼻喉科和内科看病有些搞不清楚。<br>
			    像过敏性鼻炎，鼻窦炎，咽炎，中耳炎这样的病，特别是，耳鼻喉出现炎症和疼痛的情况去耳鼻喉科就诊。像腹痛，胃炎，拉肚子，心律不齐这样发生在体内的病，得去内科就诊。<br>
			    根据病症的轻重，细分化的诊疗得去哪个科室需要遵循医嘱，一定得去正规医院就诊。<br>
			    </p>
			</div>
		</div>
</div>

<br><br>