{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/hpv1.css">
    <link rel="stylesheet" type="text/css" href="/css/hpv0.css">
{{/section}}

<div id="hpv0_app">
    <div class="content">
        <h3 class="form-style-9">Step1. 活动指南及使用条款同意 </h3>
        
        <form class="form-style-9 stepZeroForm" @submit="checkForm">
            <div class="scroll">
    			<p>HaoDoc 活动指南 <br> </p>    
    			<p>&nbsp;1. HaoDoc提供的HPV活动为 " HPV宫颈癌疫苗9价3次接种".</p>
                <p>&nbsp;2. 在HaoDoc官网内进行支付后不需要去医院支付额外的金额.</p>
                <p>&nbsp;3. HaoDoc担当着顾客与医院之间用Wechat进行连接的服务.</p>
                <p>&nbsp;4. 1次接种之后在医院预约2次接种日期.</p>
                <p>&nbsp;5. 支付7天以内由于改变想法是可以将购买金额的100%进行退款的. 支付7天后由于改变想法引起的退款只可以退回购买金额手续费5%以外剩下的费用. </p>
                <p><a href="/rules">&nbsp;6. HaoDoc使用条款可在此处进行确认. </a></p>
    		</div>
    		<input type="checkbox" name="terms" id="terms" v-model="terms">同意HaoDoc服务指南及使用条款 <br><br>
    		<div class="scroll">
    			<p>个人信息收集及使用条款同意<br /></p>
                <p>&nbsp;请仔细阅读以下个人信息收集及使用条款若同意请点击确认.<br></p>
                <p>&nbsp;1. 收集及使用主体 : HaoDoc<br /></p>
                <p>&nbsp;2. 收集及使用目的 : 使用者识别, 履行合同时的联系, 使用服务时的相关信息提供<br /></p>
                <p>&nbsp;(公告事项传达, 本人意见确认, 服务相关咨询, 信访事项处理, 注意事项等)<br /></p>
                <p>&nbsp;3. 收集项目 : 微信ID, 姓名(中文姓名,韩文姓名，护照姓名), 性别,出生年月日,邮箱<br /></p>
    			<p>&nbsp;4. 保存期间 : 收集日开始3年间保存<br /></p>
    		</div>
    		<input type="checkbox" name="refundTerms" id="refundTerms" v-model="refundTerms">同意HaoDoc服务的个人信息收集及使用条款内容 <br><br>
            <ul>
            	<li>
                    <input type="submit" class="align-right" value="Submit" />
                </li>
                <li v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">\{{ error }}</li>
                    </ul>
                </li>
            </ul>
        </form>

    </div>
    <my-footer></my-footer>

</div>

{{#section 'jquery'}}

    <script src="/js/controllers/hpv/hpv0Controller.js"></script>

{{/section}}


