{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/hpv1.css">
    <link rel="stylesheet" type="text/css" href="css/hpv0.css">
{{/section}}

{{#section 'logo'}}
    <a href="/"><img id="logo" alt="HaoDoc" src="images/logo2.png"></a>
{{/section}}

<div class="content">
    <h3 class="form-style-9">Step0. HPV Event Rules</h3>
    <form class="form-style-9 stepZeroForm">
        <div class="scroll">
			<p>1. 团购HPV疫苗接种活动 <br />** 为了您能更加顺利便捷地参与本次 HPV 疫苗接种活动，请熟读以下预约流程</p>
			<p>&nbsp; a. 在Haodoc官网填写个人信息。</p>
			<p>&nbsp; b. Haodoc的账号为国民银行 012501-04-288558 김승범(인스파이어(INSPIRE))。为确保您顺利预约到疫苗，需要先向Haodoc账号支付3万韩元的预约金。</p>
			<p>&nbsp; c. 转账结束后，需要您以微信的方式将汇款账户的名字发至我们Wechat ID : Hao_Doc （注意是汇款账户的名字，如果用其他人的账户汇款时请特别标注告知我们）</p>
			<p>&nbsp; d. Haodoc会给您发送到账确认短信进行确认。</p>
			<p>&nbsp; e. 9月末，Haodoc会通知您接种HPV 疫苗的日期和地点。</p>
			<p>&nbsp; f. 10月，和Haodoc一起到妇科诊所再支付HaoDoc Event团购金额 - 57万韩元。简要填写问诊表后就可以接种第1针疫苗了。（疫苗原价63万韩元）</p>
			<p>&nbsp; g. 接种第1针之后，在妇科诊所进行第2,3针疫苗接种的预约。</p>
			<p>&nbsp; h. 根据您事先预约的时间接种HPV 2,3针即可。</p><br><br>
			<p>** 注意事项</p>
			<p>&nbsp;i. 各位顾客提供给Haodoc的所个人信息我们仅作为顾客管理所用。（个人信息处理条例：请参考链接）</p>
			<p>&nbsp;ii. 延世위더스 妇科诊所为Haodoc Event活动提供的HPV疫苗团购价为 57万韩元。</p>
			<p>&nbsp;iii. 支付方式<br />&nbsp;  1) 服务费用总计60万韩元。(具体包括57万韩元的HPV 疫苗接种费用 + 3万韩元的 Haodoc Event 服务费用)</p>
			<p>&nbsp;iv. 接种日期<br />&nbsp;  1) 由于韩国全线HPV 加卫苗库存紧张，现在无法告知您具体的疫苗到货日期。<br />9月~10月 期间可以接种疫苗。但是，如果疫苗到货较晚，最晚可于11月份接种第1针。<br />&nbsp;  2) 9月末Haodoc会以微信的形式告知可供第1针接种的日期。顾客可以根据自己的日程选择日期进行接种。<br />&nbsp;  3) 第2,3针疫苗接种。我们Haodoc会和妇科诊所商定后届时告知各位。</p>
		</div>
		<input type="checkbox" name="terms" id="terms">.熟知使用条款并且同意<br><br>
		<div class="scroll">
			<p>退款政策<br />&nbsp;<br />1. 退款方法</p>
			<p>退款须在工作日内到顾客中心办理(工作日早上九点到晚六点营业)</p>
			<p>健康镖局HaoDoc 的微信号是Hao_Doc<br />&nbsp;<br />2. 退款指导<br />&nbsp;<br />1.&nbsp;从预约当日起一周内来退款的话<br />&nbsp;&nbsp;&nbsp;- 只能退还给顾客扣除预约金的10%后的金额<br />&nbsp;&nbsp; - 公司有权得知顾客的姓名，性别，电话号，微信号，电子邮件地址，退款理由等相关的个人信息<br />&nbsp;<br />2.&nbsp;从预约当日起一周后来退款的话&nbsp;<br />&nbsp;&nbsp;&nbsp;- 将不能退预约金<br />&nbsp;<br />3.&nbsp;在妇科诊所已经付完款后<br />&nbsp;&nbsp; - 预约金不能退还<br />&nbsp;&nbsp; - 关于在妇科诊所付款后的退款，根据妇科诊所的规定执行，与我公司一律无关</p>
			<p>4.&nbsp;因为妇科诊所的原因接种不了的情况<br />&nbsp;&nbsp; - 和妇科诊所确认后退还全部预约金</p>
			<p>5.&nbsp;退款方法<br />&nbsp;&nbsp; - 去顾客中心申请退款，公司依据退款规定直接往顾客的存折里打退款</p>
		</div>
		<input type="checkbox" name="refundTerms" id="refundTerms">熟知退款条款并且同意<br><br>
        <ul>
        	<li>
                <input type="submit" class="align-right" value="Submit" />
            </li>
        </ul>
    </form>
</div>



<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>04003 서울특별시 마포구 서교동 478-3 501호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>

{{#section 'jquery'}}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/productjs.js"></script>
    <script src="js/api/user.js"></script>
    <script src="js/controllers/hpv0Controller.js"></script>
{{/section}}


