{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/hpv1.css">
{{/section}}


<div class="content">
    <h3 class="form-style-9">Step1. 个人信息</h3>
    <form class="form-style-9 stepOneForm">
        <ul>
            <li>
                <label for="chineseName">中文姓名</label> <input type="text" name="chineseName" id="chineseName" class="field-style field-full align-left" placeholder="中文姓名" />
            </li>
            <li>
                <label for="englishName">护照英文姓名</label> <input type="text" name="englishName" id="englishName" class="field-style field-full align-left" placeholder="韩文姓名" />
            </li>
            <li>
                <label for="name">韩文姓名</label> <input type="text" name="name" id="name" class="field-style field-full align-left" placeholder="不知道的话请空着不填" />
            </li>
            <li>
                <label for="gender">性别</label>
                <div class="field-style field-full align-left"><input type="radio" name="gender" value="male" id="gender" checked> 男 
                &nbsp;     &nbsp;    <input type="radio" name="gender" value="female" id="gender"> 女<br></div>
            </li>
            <li>
                <label for="birthDay">出生年月日</label> <input type="text" name="birthDay" class="field-style field-full align-none" id="birthDay" placeholder="(1993-04-07)" />
            </li>
            <li>
                <label for="phone">电话号码</label> <input type="text" name="phone" class="field-style field-full align-left" id="phone" placeholder="(010-1234-5678)" />
            </li>
            <li>
                <label for="wechatID">微信号</label> <input type="text" name="wechatID" class="field-style field-full align-none" id="wechatID" placeholder="EX)hao_doc" />
            </li>
            

            <li>
                <input type="submit" class="align-right" value="Submit" />
            </li>
        </ul>
    </form>
</div>



<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>04003 서울특별시 마포구 서교동 478-3 501호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>



{{#section 'jquery'}}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/productjs.js"></script>
    <script src="js/api/user.js"></script>
    <script src="js/controllers/hpv1Controller.js"></script>
{{/section}}