{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/hpv1.css">
    <link rel="stylesheet" type="text/css" href="css/hpv2.css">

{{/section}}


<div class="content left-low">
    <h3 class="form-style-9">Step2. 交预约金</h3>
    <div class="form-style-9">
        <div><img src="images/QR_Pay_Small.png"></div>
        <br><br>
        <p><b>1. 通过扫健康镖局HaoDoc专用的二维码来交<br>HPV 活动的5万韩元预约金。</b></p>
        <p><b>2. 付款后，把付款成功的画面截图后发给健康镖局HaoDoc 的微信，我们的微信号是Hao_Doc</b></p>
        <p><b>3. Haodoc会给您发送到账确认短信进行确认。</b></p>
        <p>* <b>因为韩国和中国的浏览器连接的问题不能进行付款的顾客们，可以通过健康镖局HaoDoc 的微信号Hao_Doc 来联系我们的客服</b></p>
    </div>
</div>

<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>


{{#section 'jquery'}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/productjs.js"></script>
{{/section}}