{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/hpv1.css">
    <link rel="stylesheet" type="text/css" href="/css/hpv2.css">
{{/section}}

<div id="hpv2_app">
    <div class="content left-low">
        <h3 class="form-style-9">Step3. 支付</h3>
        <div class="form-style-9">
            <div><img src="/images/event/base/QR_Pay_Small.png" style="margin: 0 auto;"></div>
            <br><br>
            
            <p><b> 活动名称<!-- 이벤트 이름--> : \{{coupon.couponName}}</b></p>   
            <p><b> 活动价格<!--이벤트가격 --> : ₩\{{coupon.price}}</b></p>   

            <p><b>1. 请支付商品金额相符的费用</b></p>
            
            <p><b>2. 支付后请将支付完成的画面截图后发送至HaoDoc公众号. <br>
            </b></p>
            
            <p>* <b>因为韩国和中国的浏览器连接的问题不能进行付款的顾客们，可以通过HaoDoc 的微信号HaoDoc 来联系我们的客服   <br>
            </b></p>

            <p><b>(公众号 ID : HaoDoc)</b></p>
        </div>
    </div>
    <img src="/images/coupon/base/coupon_info.png" class="infoImage">
    <my-footer></my-footer>

</div>



{{#section 'jquery'}}
    <script src="/js/productjs.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/js/api/coupon.js"></script>
    <script type="text/javascript" src="/js/controllers/hpv2Controller.js"></script>
{{/section}}