{{#section 'head'}}
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" type="text/css" href="/css/hpv1.css">
    <link rel="stylesheet" type="text/css" href="/css/hpv2.css">

{{/section}}

<div id="hpv2_app">
    <div class="content left-low">
        <h3 class="form-style-9">Step3. 支付</h3>
        <div class="form-style-9">
            <div><img src="/images/event/base/QR_Pay_Small.png" style="margin: 0 auto;"></div>
            <br><br>
            
            <p class="text-center" style="color:#BD1622; font-size:1.2em;"><b>支付完成后必须将支付成功画面进行截图</b></p>

            <p class="text-center"><b> 活动名称<!-- 이벤트 이름--> : \{{coupon.couponName}}</b></p>   
            <p class="text-center"><b> 活动价格<!--이벤트가격 --> : ₩\{{coupon.price}}</b></p>
            <p><b>* 微信/支付宝支付没有与中国的银行卡进行连接或是顾客身在中国可能会导致支付时出现问题。<br>
            支付时若出现问题请咨询HaoDoc公众号，我们会迅速帮您解决问题。</b></p>
            <p class="text-center"><b>[ 公众号 ID : HaoDoc ]</b></p>

            <p><b>1. 请支付商品金额相符的费用</b></p>
            
            <p><b>2. 支付后请将支付完成的画面截图后发送至HaoDoc公众号. <br>
            </b></p>

            <p><b>3. 无法进行微信支付,支付宝支付的顾客请按照以下方式进行转账. <br>
            </b></p>

            <p>* <b>但发送截图时截图内容中必须有转账日期及时间 / 向김승범(인스파이어(INSPIRE))转账的信息存在。转账后请马上将截图发送给HaoDoc客服才可确认支付成功. <br>
            </b></p>

            <p>a.<b>若使用Atm时转账后请马上将转账的信息内容进行截图后发送给HaoDoc客服 (截图内容中必须包含日期时间以及转账给谁的信息)
            <br>
            </b></p>

            <p>b.<b>若使用网络转账 : 转账后请马上将转账后的画面进行截图后发送给HaoDoc客服(截图内容中必须包含日期时间以及转账给谁的信息)
            <br>
            </b></p>

            <p class="text-center"><b>[ 账号信息 ]</b></p>
            <p class="text-center"><b>국민은행 : 012501-04-288558 <br>转账者  : 김승범(인스파이어(INSPIRE))</b></p>


        </div>
    </div>
    <img src="/images/coupon/base/coupon_info.png" class="infoImage">


</div>



{{#section 'jquery'}}
    <script type="text/javascript" src="/js/api/coupon.js"></script>
    <script type="text/javascript" src="/js/controllers/hpv/hpv2Controller.js"></script>
{{/section}}