


{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/css/main2.css">
{{/section}}

<section class="main-block">
    <div class="container">
        <div class="row-page row">

            <img class="d-none d-block d-sm-none col-xs-12 col-page" src="/images/home/mobile_banner.png" style="width:100%; height:24%; top:6.1%; position:absolute;">

            <a href="/find"><img class="d-none d-block d-sm-none col-xs-8" src="/images/home/mobile_search_trimmed.png" style="height:140px; padding:15px 25px 0px 15px; width:60% float-left"></a>

            <a href="/about"><img class="d-none d-block d-sm-none col-xs-4" src="/images/home/mobile_about_trimmed.png" style="height:140px; padding:15px 15px 0px 0px; width:40% float-right"> </a>

            <a href="/event">
                <img src="/images/home/mobile_event_trimmed.png" class="d-none d-block d-sm-none col-xs-12 col-page img-responsive" style="width:100%; padding:5px 15px 5px 15px; height:130px">
            </a>
            
            <a href="/team">
                <img src="/images/home/mobile_team_trimmed.png" class="d-none d-block d-sm-none col-xs-12 col-page" style="width:100%; padding:0px 15px 10px 15px; height:100px">
            </a>
           
 
            <img class="d-none d-block d-sm-none col-xs-12 col-page" src="/images/home/mobile_time_info.png" style="width:80%; height:80px; margin: 0 auto; padding-bottom:10px">

            <div class="mainbox col-page col-sm-12 col-lg-9 d-none d-sm-block" style="padding-left:20px">
                <a href="/find" class="black full-block">
                    <div class="img-block" id="searchBox">
                        <img src="/images/home/search_trimmed.png">
                    </div>
                    <div class="content-block" id="search-content-block">
                      	<br>
                        <h3>搜索我家附近的医院<!--내 주변 병원 찾기--></h3>
                        <p>
                            简单地把握诊疗科目，和离自己家近的医院信息和位置<!--진료과목별로, 가까운 병원의 정보와 위치를 쉽게 파악해 보세요.-->
                        </p>
                    </div>
                    <div class="transition-block">
                        <span>搜索我家附近的医院<!--주변 병원 찾기--></span>
                    </div>
                    <!-- mobile web button -->
                    <span class="float-right" >
                        <button class="mobile-btn btn">搜索医院&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div>
            <!--div class="mainbox col-page col-sm-12 col-lg-3">
                <a href="/about"  class="full-block">
                    <div class="img-publicacion-home about">
                        <img class="img-responsive" src="/images/website-mobile3_small.jpg">
                    </div>
                    <div class="contenido-publicacion-home">
                    	 <br>
                        <h3>健康镖局 HaoDoc是</h3>
                        <p>为在韩华人提供免费韩国医疗信息服务的平台</p>
                    </div>
                    <div class="d-none d-sm-block transition-block">
                        <span>询问健康镖局HaoDoc<!--하오닥 알아보기--><!--/span>
                    </div>
                    <!-- mobile web button -->
                    <!--span class="d-md-none float-right" >
                        <button class="mobile-btn btn">进一步了解健康镖局HaoDoc&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div-->
            <div class="mainbox col-page d-none d-sm-block col-lg-3" style="padding-left:0px;">
                <a href="/about" class="small-block" id="aboutBox">
                    <img src="/images/home/about_trimmed_low.png" style="height:93%;">
                </a>
            </div>
            <div class="mainbox col-page d-none d-sm-block col-lg-3">
                <a href="/team" class="small-block" id="teamBox">
                    <img src="/images/home/team_trimmed2.png" style="width:100%;">
                </a>
            </div>
            <!-- 하오닥 팀 소개 -->
            <!--div class="mainbox col-page d-none d-sm-block col-lg-3">
                <a href="/team" class="full-block">
                    <div class="img-publicacion-home">
                        <img class="img-responsive" src="/images/05_small.jpg">
                    </div>
                    <div class="contenido-publicacion-home">
                    	  <br>
                        <h3>HaoDoc 团队介绍</h3>
                        <p>介绍HaoDoc的 健康镖局成员们</p>
                    </div>
                    <div class="d-none d-sm-block transition-block">
                        <span>기 </span>
                    </div>
                </a>
            </div-->
            <div class="mainbox d-none d-sm-block col-page col-sm-12 col-lg-9">
                <a href="/event" class="black full-block">
                    <div class="content-block" id="event-content-block">
                        <br>
                        <h3>HaoDoc 医院活动<!--HaoDoc 병원 이벤트--></h3>
                        <p>
                            快来看看只有HaoDoc才有的医院特价活动<!--HaoDoc만에서 만나볼 수 있는 병원 특가 이벤트를 만나보세요.-->
                        </p>
                    </div>
                    <div class="img-block" id="eventBox">
                        <img src="/images/home/event_trimmed.png">
                    </div>
                    <div class="d-none d-sm-block transition-block">
                        <span>查看很多的活动<!--상세한 내용--></span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">查看很多的活动&nbsp;&nbsp;&nbsp;(Click!)<!--자세히 알아보기 --></button>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>(주) INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;대표 김승범</h5>
        <h5>사업자등록번호 631-05-01190 |&nbsp;&nbsp; HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>


