
<div id="fullpage">
    <!-- BRAND -->
    <div id="page-1" class="section background" data-anchor="#01">
        <div id="brand-content">
            <div class="content">
                <h1 class="whiteChar"><strong>健康镖局 HaoDoc是</strong></h1>
                <p class="whiteChar">为在韩华人提供免费韩国医疗信息服务的平台 </p>
                <div class="more">
                    <a href="/about"><span>详细内容</span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- HPV Event -->
    <div id="page-2" class="section background" data-anchor="#02">
        <div id="kit-content">
            <div class="content">
                <h5>HaoDoc X Tndn HPV 疫苗活动</h5>
                <p>只为您准备的HPV 疫苗活动</p>
                <div class="more">
                    <a href="/hpv0"><span>详细内容</span></a>
                </div>
            </div>
        </div>
    </div>
    <div id="page-3" class="section fp-auto-height" data-anchor="#03">
        <div class="footer">
            <div class="contact">
                <h6>CS CENTER</h6>
                <p id="tel">WechatId : Hao_Doc</p>
                <p id="worktime">AM 09:00 - PM 06:00</p>
                <p id="lunchtime">LUNCH 11:40 - 12:50</p>
                <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
            </div>
            <div class="company-info">
                <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
                <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
            </div>
            <div class="terms">
                <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
            </div>
            <div class="copyright">
                <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
            </div>
        </div>
    </div>
</div>


{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/maincss.css">
    <link rel="stylesheet" type="text/css" href="/css/fullpage.css">
{{/section}}


{{#section 'jquery'}}
	<script src="js/mainjs.js"></script>
    <script src="js/fullpage.js"></script>
{{/section}}