


{{#section 'head'}}
	<link rel="stylesheet" type="text/css" href="/css/main2.css">
{{/section}}

<section class="publicaciones-blog-home">
    <div class="container">
        <div class="row-page row">
            <div class="mainbox col-page col-sm-12 col-lg-9">
                <a href="/find" class="black fondo-publicacion-home">
                    <div class="img-publicacion-principal-home">
                        <img class="" src="/images/home/01_small.jpg">
                    </div>
                    <div class="contenido-publicacion-principal-home">
                      	<br>
                        <h3>搜索我家附近的医院<!--내 주변 병원 찾기--></h3>
                        <p>
                            简单地把握诊疗科目，和离自己家近的医院信息和位置<!--진료과목별로, 가까운 병원의 정보와 위치를 쉽게 파악해 보세요.-->
                        </p>

                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>搜索我家附近的医院<!--주변 병원 찾기--></span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">搜索医院&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>

            </div>
            
        
            <div class="mainbox col-page col-sm-12 col-lg-3">
                <a href="/about"  class="fondo-publicacion-home">
                    <div class="img-publicacion-home about">
                        <img class="img-responsive" src="/images/website-mobile3_small.jpg">
                    </div>
                    <div class="contenido-publicacion-home">
                    	 <br>
                        <h3>健康镖局 HaoDoc是</h3>
                        <p>为在韩华人提供免费韩国医疗信息服务的平台</p>
                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>询问健康镖局HaoDoc<!--하오닥 알아보기--></span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">进一步了解健康镖局HaoDoc&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div>
            <!-- 하오닥 팀 소개 -->
            <div class="mainbox col-page d-none d-sm-block col-lg-3">
                <a href="/team" class="fondo-publicacion-home">
                    <div class="img-publicacion-home">
                        <img class="img-responsive" src="/images/05_small.jpg">
                    </div>
                    <div class="contenido-publicacion-home">
                    	  <br>
                        <h3>HaoDoc 团队介绍</h3>
                        <p>介绍HaoDoc的 健康镖局成员们</p>
                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>了解我们的团队 </span>
                    </div>
                </a>
            </div>
            <div class="mainbox col-page col-xs-12 col-lg-6">
                <a href="/hpv0" class="fondo-publicacion-home">
                    <div class="img-publicacion-home">
                        <img class="img-responsive" src="/images/vaccine.png">
                    </div>
                    <div class="contenido-publicacion-home">
                    	  <br>
                        <h3>HaoDoc X Tndn HPV 疫苗活动</h3>
                        <p>只为您准备的HPV 疫苗活动</p>
                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>详细内容 </span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">查看很多的活动&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div>
            <div class="mainbox col-page d-sm-block col-lg-3">
              <div class="todas-las-publicaciones-home">
                  <span>在韩国生病了？<br>健康镖局HaoDoc<!--한국에서 아프면? HaoDoc--></span>
              </div>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>(주) INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;대표 김승범</h5>
        <h5>사업자등록번호 631-05-01190 |&nbsp;&nbsp; HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>


