/* HEADER LOGO */
/*#logo {
    width: 250px;
    position: fixed;
    top: 0px;
    left:0px;
}

#menubar {
    position: fixed;
    right: 10px;
}*/


.images{
	color:red;
}

#about_image{
	padding-top:10px;
	width:100%;
}

#mobile_about_image{
	padding-top:10px;
	width:100%;
}