/* ABOUT-PAGE */
.about-page {
    background-size: cover;
    background-position: center center;
    display: flex;
    width: 100%;
    height: 100vh;
}

.brand-story {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 750px;
    height: 500px;
    top: 20%;
    left: 3%;
    bottom: 5%;
    padding: 40px 80px 10px 45px;
}

.brand-title {
    display: none;
}


.brand-title h2 {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    color: #BD1622;
}

.brand-semi-title {
    display: none;
}

.brand-semi-title .semi-title {
    display: inline-block;
}

#brand-cut-in {
    font-size: 20px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 700;
    margin-right: 8px;
}

#brand-name {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #BD1622;
}

#question {
    display: none;
    color: #145A72;
    font-size: 18px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 20px;
}

.paragraph p {
    display: none;
    font-size: 15px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 400;
}



/*Full-Page CSS */
.whiteChar {
    color: white;
}

/* MAINPAGE: BACKGROUND-IMAGE */
.background {
    background-size: cover;
    background-position: center center;
}

#page-1 {
    background-image: url('../images/about/01.jpg');
}

#page-2 {
    background-image: url('../images/about/02.jpg');
}

#page-3 {
    background-image: url('../images/about/03.jpg');
}

#page-4 {
    background-image: url('../images/about/04.jpg');
}


/* MAIN PAGE: WORD CONTENT */
.content {
    display: block;
    font-family: "Noto Sans CJK KR", sans-serif;
    position: absolute;
    top: 37%;
    width: 80%; 
    left: 5%;
    z-index: 90;
}

.content h5 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 26px;
    opacity: 0;
}

.content p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 38px;
    opacity: 0;
}

.more {
    opacity: 0;
}

.more a {
    color: black;
    text-decoration: none;
}

.more a:hover {
    color: black;
    text-decoration: none;
}

.more span {
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    border: 1px black solid;
    padding: 12px 100px;
}

#content-right .content {
    top: 40%;
    left: 60%;
}

#content-right span {
    background-color: white;
    border: 1px white solid; 
}

#kit-content .content {
    left: 60%;
    margin-left: 10px;
}





@media (max-width: 991px) {

/* ABOUT-PAGE */
.brand-story {
    width: 600px;
    height: 450px;
    left: 4%;
    padding: 30px 50px 10px 30px;
}

.brand-title h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#brand-cut-in {
    font-size: 18px;
}

#brand-name {
    font-size: 20px;
}

#question {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 34px;
}

.paragraph p {
    font-size: 14px;
}
}

@media (max-width: 575px) {


/* ABOUT-PAGE */
.brand-story {
    width: 300px;
    height: 480px;
    padding: 20px 15px 10px 20px;
}

.brand-title h1 {
    font-size: 16px;
    margin-bottom: 16px;
}

#brand-cut-in {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 0;
}

#brand-name {
    font-size: 16px;
}

#question {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 34px;
}

.paragraph p {
    font-size: 11px;
}
}