@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: local('※'), url("../fonts/NotoSansCJKkr-Regular.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: local('※'), url("../fonts/NotoSansCJKkr-Medium.woff") format('woff');
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: local('※'), url("../fonts/NotoSansCJKkr-Bold.woff") format('woff');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    width: 100%;
    height: 85px;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
}

/* HEADER LOGO */
#logo {
    width: 250px;
    margin-left: 12%;
    transform: translateY(-8%);
    z-index: 60;
    padding-top: 50px;
}

/* HEADER MENU BAR */
#menubar {
    width: 48px;
    margin-right: 2%;
    transform: translateY(3%);
    z-index: 60;
    padding: 12px;
}

/* FACEBOOK ICON */
#facebook {
    width: 36px;
    bottom: 5%;
    right: 3%;
    position: fixed;
    z-index: 60;
}

/* MENU DISPLAY ON CLICK */
#menu-display {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(27, 61, 74, 0.85);
    z-index: 100;
}

#menu-display a {
    text-decoration: none;
    color: white;
}

#menu-display ul {
    list-style-type: none;
}

#menu-display ul li {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#menu-display ul li:not(:last-child) {
    margin-bottom: 100px;
}

.closebtn {
    position: fixed;
    top: 1.5%;
    right: 3%;
    font-size: 48px;
    z-index: 200;
}

/* ABOUT-PAGE */
.about-page {
    background-size: cover;
    background-position: center center;
    background-image: url('../images/about-page.jpg');
    display: flex;
    width: 100%;
    height: 100vh;
}

.brand-story {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    width: 730px;
    height: 530px;
    left: 3%;
    bottom: 5%;
    padding: 45px 80px 10px 45px;
}

.brand-title {
    display: none;
}


.brand-title h1 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 24px;
}

.brand-semi-title {
    display: none;
}

.brand-semi-title .semi-title {
    display: inline-block;
}

#brand-cut-in {
    font-size: 20px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 700;
    margin-right: 8px;
}

#brand-name {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #BD1622;
}

#question {
    display: none;
    color: #145A72;
    font-size: 18px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 500;
    margin-top: 8px;
    margin-bottom: 40px;
}

.paragraph p {
    display: none;
    font-size: 15px;
    font-family: 'Noto Sans CJK KR', sans-serif;
    font-weight: 400;
}

@media (max-width: 991px) {
.header {
    background-color: rgba(240, 240, 240, 0.7);
    height: 70px;
}

/* HEADER LOGO */
#logo {
    width: 200px;
}

/* HEADER MENU BAR */
#menubar {
    width: 42px;
}

/* FACEBOOK ICON */
#facebook {
    width: 24px;
    bottom: 3%;
    right: 4%;
}

/* MENU DISPLAY ON CLICK */
#menu-display ul li {
    font-size: 20px;
}

.closebtn {
    top: 1%;
    right: 6%;
}

/* ABOUT-PAGE */
.brand-story {
    width: 600px;
    height: 450px;
    left: 4%;
    padding: 30px 50px 10px 30px;
}

.brand-title h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

#brand-cut-in {
    font-size: 18px;
}

#brand-name {
    font-size: 20px;
}

#question {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 34px;
}

.paragraph p {
    font-size: 14px;
}
}

@media (max-width: 575px) {
.header {
    height: 50px;
}

/* HEADER LOGO */
#logo {
    width: 150px;
}

/* FACEBOOK ICON */
#facebook {
    right: 5%;
}

/* ABOUT-PAGE */
.brand-story {
    width: 300px;
    height: 480px;
    padding: 20px 15px 10px 20px;
}

.brand-title h1 {
    font-size: 16px;
    margin-bottom: 16px;
}

#brand-cut-in {
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 0;
}

#brand-name {
    font-size: 16px;
}

#question {
    font-size: 12px;
    margin-top: 4px;
    margin-bottom: 34px;
}

.paragraph p {
    font-size: 11px;
}
}