
#infoImage{
	padding:20px 200px 0px 200px;
	width:100%;
}


body{
	background-color:#660000;
}


#contactInfo{
	padding-top:0px;
	margin-top:0px;
	background-color:white;
}

.mobile-btn{
	float:right;
}



@media (max-width: 768px) {




    #infoImage{
    	padding: 10px 0px 0px 0px;
    	width: 100%;
    } 


    .mobile-btn{
    	width:200px;
    	float : right;
    }
    


}