
    .infoImage{
    	padding:0px 500px 0px 500px;
    	width:100%;
    }

    .infoCard{
      padding:0px 500px 0px 500px;
      width:100%;
    }


    body{
    	background-color:#660000;
    }


    #contactInfo{
    	padding-top:0px;
    	margin-top:0px;
    	background-color:white;
    }

    .mobile-btn{
    	float:right;
    }
    /* 이벤트 신청 Form에서 Scroll이 뜨도록*/
    .scroll {
        overflow:scroll;
        height:200px;
        padding:10px;
        background-color : #DCDCDC;
    }

@media (max-width: 768px) {

    .infoCard{
        padding: 0px 0px 0px 0px;
        width: 100%;
    } 



    .infoImage{
    	padding: 0px 0px 0px 0px;
    	width: 100%;
    } 


    .mobile-btn{
    	width:200px;
    	float : right;
    }
    


}