
.whiteChar {
    color: white;
}
/* MAINPAGE: BACKGROUND-IMAGE */
.background {
    background-size: cover;
    background-position: center center;
}

#page-1 {
    background-image: url('../images/page-1.jpg');
}

#page-2 {
    background-image: url('../images/page-2.jpg');
}

/* MAIN PAGE: WORD CONTENT */
.content {
    display: block;
    font-family: "Noto Sans CJK KR", sans-serif;
    position: absolute;
    top: 37%;
    left: 50%;
    margin-left: 45%;
    width: 80%; 
    z-index: 90;
}

.content h5 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 26px;
    opacity: 0;
}

.content p {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 38px;
    opacity: 0;
}

.more {
    opacity: 0;
}

.more a {
    color: black;
    text-decoration: none;
}

.more a:hover {
    color: black;
    text-decoration: none;
}

.more span {
    font-size: 20px;
    font-weight: 700;
    width: 200px;
    border: 1px black solid;
    padding: 12px 100px;
}

#brand-content .content {
    top: 40%;
    left: 10%;    
}

#brand-content span {
    background-color: white;
    border: 1px white solid; 
}

#kit-content .content {
    left: 60%;
    margin-left: 10px;
}

@media (max-width: 991px) {


#page-1 {
    background-image: url('../images/page-1_mobile.jpg');
}

#page-2 {
    background-image: url('../images/page-2_mobile.jpg');
}


/* MAIN PAGE: WORD CONTENT */
.content {
    top: 17%;
    left: 8%;
}

.content h5 {
    font-size: 23px;
}

.content p {
    font-size: 18px;
    line-height: 26px;
}

.more span {
    font-size: 16px;
    padding: 12px 85px;
}

#brand-content .content {
    left: 8%;
}

#kit-content .content {
    left: 8%;
}

}

@media (max-width: 575px) {


/* MAIN PAGE: WORD CONTENT */
.content {
    top: 13%;
    left: 8%;
}

.content h5{
    font-size: 18px;
    margin-bottom: 18px;  
}

.content h1{
    font-size: 18px;
    margin-bottom: 18px;
}

.content p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 24px; 
}

.more span {
    font-size: 14px;
    padding: 8px 65px;
}

#brand-content .content {
    top: 13%;
    margin-left: 10px;
}


}