
<div style="font-size:1rem;">

{{!-- 개인정보 처리 위탁 동의 --}}
<h3><p>个人信息处理委托同意 <br> </p></h3>
<p>&nbsp;提供接收者 : 进行个人信息处理委托的业务内容</p><br>
<p>&nbsp;INSPIRE(HaoDoc服务运营企业名称) : 个人信息收集,保管，处理，废除，业务的委托处理</p><br>
<p>&nbsp;医院代宣传企业 : 活动相关宣传及支付代行业务</p><br>


</div>