

{{!-- 개인정보 제3자 제공동의 (상담) --}}


<div style="font-size:1rem;">
	<h2><p>个人信息第三方提供同意 (咨询) <br> </p></h2><br>
	<p>&nbsp;本公司为了可以给会员您顺利的提供我们的医院活动申请服务，我们需要给第三方提供个人信息。</p><br>
	<p>&nbsp;个人信息接收者 : 提供活动服务的医院</p><br>
	<p>&nbsp;个人信息使用目的 : 活动服务的提供及确认</p><br>
	<p>&nbsp;需提供的个人信息 : 医院预约,活动服务提供及确认</p><br>
	<p>&nbsp;需提供的个人信息 : <br>1) 姓名 <br>2) 手机号码 <br>3) 微信ID <br>4) 性别 <br>5) 备注 (特殊事项等) <br></p><br>
	<p>&nbsp;个人信息保存及使用期间 : 直到活动服务提供及医院访问/诊疗的目的达成为止</p><br>
	<p>&nbsp;拒绝同意带来的不利 : 活动服务使用受限</p><br>
	<p>&nbsp;有权不同意个人信息的提供,但不同意时使用活动服务会存在一定的受限. 接收的个人信息不使用于活动服务用途外。</a></p><br>
</div>


