
{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/about.css">
{{/section}}


<div class="d-none d-sm-block col-xs-12">
    <img src="/images/about/long_about_low2.png" id="about_image">
</div>


<div class="col-xs-12 d-sm-none">
	<img src="/images/about/long_about_mobile_low.png" id="mobile_about_image">
</div>

