{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/aboutcss.css">
    <link rel="stylesheet" type="text/css" href="/css/fullpage.css">
{{/section}}

{{#section 'logo'}}
    <a href="/"><img id="logo" alt="HaoDoc" src="images/logo2.png"></a>
{{/section}}




<div id="fullpage">
    <!-- BRAND -->
    <div id="page-1" class="section background" data-anchor="#01">
        <div id="content-right">
            <div class="content">
                <h5 class="logoColor">가장 빠르고 좋은<br>의료시설 안내</h5>
                <p>증상을 파악 후<br>알맞는 병원을 안내해 드립니다.</p>
            </div>
        </div>
    </div>
    <!-- MILITARY KIT -->
    <div id="page-2" class="section background" data-anchor="#02">
        <div id="content-left">
            <div class="content">
                <h5 class="logoColor">병원 예약<br>서비스 제공</h5>
                <p>예약 가능한 병원에 진료를 예약하여<br>스케줄에 맞는 의료 서비스를 제공합니다.</p>
            </div>
        </div>
    </div>
    <!-- MILITARY KIT -->
    <div id="page-3" class="section background" data-anchor="#03">
        <div id="content-right">
            <div class="content">
                <h5 class="logoColor">그 외에 다양한<br>의료검색 기능</h5>
                <p>휴일 영업 병원, 약국/보험 문제<br>다양한 정보를 제공합니다.</p>
            </div>
        </div>
    </div>
    <div id="page-4" class="about-page section background" data-anchor="#04">
        <div class="brand-story">
            <div class="brand-title">
                <h2>HaoDoc</h2>
            </div>
            <div class="brand-semi-title">
                <p id="brand-cut-in" class="semi-title">为了大家最便利地享受韩国的医疗服务而努力</p><p id="brand-name" class="semi-title">健康镖局HaoDoc</p>
            </div>
            <p id="question">"就检查一个小小的感冒,<br />&nbsp;那个中国人为什么得花30万韩元?"</p>
            <div class="paragraph">
                <p>离开故乡在外国生活时生病的话最难受了吧！语言不通，对韩国医疗体系不了解使得在韩国找到合适的医院就变得更难了吧。</p> 
                <p>在中国，中国人一般会去大型综合医院从检查到治疗，一次性全都能解决，在韩国，人们就诊的习惯和意识与中国人不同，韩国人主要去家附近的私人诊所就诊。</p>
                <p>因为中韩两国的医院体系不同，中国人对韩国医院有很多误解，所以选择了错误的医院花了很贵的诊疗费。</p>
                <p>通过联系健康镖局HaoDoc，从韩国的医院选择到就诊预约，尽我们的最大努力来解决您在韩国就诊的所有不便！</p>
            </div>
        </div>
    </div>

    <div id="page-4" class="section fp-auto-height" data-anchor="#04">
        <div class="footer">
            <div class="contact">
                <h6>CS CENTER</h6>
                <p id="tel">WechatId : Hao_Doc</p>
                <p id="worktime">AM 09:00 - PM 06:00</p>
                <p id="lunchtime">LUNCH 11:40 - 12:50</p>
                <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
            </div>
            <div class="company-info">
                <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
                <h6>04003 서울특별시 마포구 서교동 478-3 501호</h6>
            </div>
            <div class="terms">
                <p><a href="#">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">이용안내</a></p>
            </div>
            <div class="copyright">
                <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
            </div>
        </div>
    </div>

</div>


{{#section 'jquery'}}
    <script type="text/javascript" src="js/fullpage.js"></script>
    <script type="text/javascript" src="js/aboutjs.js"></script>
{{/section}}