
{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/aboutcss.css">
    <link rel="stylesheet" type="text/css" href="/css/fullpage.css">
{{/section}}



<div id="fullpage" class="col-xs-12">
    <!-- BRAND -->
    <div id="page-1" class="section background" data-anchor="#01">
        <!--div id="content-right">
            <div class="content">
                <h5 class="logoColor"> 提供最快最有效的医疗信息</h5>
                <p> 了解症状后给您介绍最适合的诊所或医院</p>
            </div>
        </div-->
    </div>
    <!-- MILITARY KIT -->
    <div id="page-2" class="section background" data-anchor="#02">
        <!--div id="content-left">
            <div class="content">
                <h5 class="logoColor">提供诊所，医院预约服务</h5>
                <p>帮您预约可以预约的诊所或医院，提供符合您时间安排的医疗服务</p>
            </div>
        </div-->
    </div>
    <!-- MILITARY KIT -->
    <div id="page-3" class="section background" data-anchor="#03">
        <!--div id="content-right">
            <div class="content">
                <h5 class="logoColor">除此之外还有更多的医疗信息搜索功能</h5>
                <p>介绍周末营业诊所，医院，<br>药店和告诉您关于医疗保险报销的问题<br>提供丰富的医疗信息</p>
            </div>
        </div-->
    </div>
    <div id="page-4" class="about-page section background" data-anchor="#04">
        <!--div class="brand-story">
            <div class="brand-title">
                <h2>HaoDoc</h2>
            </div>
            <div class="brand-semi-title">
                <p id="brand-cut-in" class="semi-title">为了大家最便利地享受韩国的医疗服务而努力</p><p id="brand-name" class="semi-title">健康镖局HaoDoc</p>
            </div>
            <p id="question">"就检查一个小小的感冒,<br />&nbsp;那个中国人为什么得花30万韩元?"</p>
            <div class="paragraph">
                <p>离开故乡在外国生活时生病的话最难受了吧！语言不通，对韩国医疗体系不了解使得在韩国找到合适的医院就变得更难了吧。</p> 
                <p>在中国，中国人一般会去大型综合医院从检查到治疗，一次性全都能解决，在韩国，人们就诊的习惯和意识与中国人不同，韩国人主要去家附近的私人诊所就诊。</p>
                <p>因为中韩两国的医院体系不同，中国人对韩国医院有很多误解，所以选择了错误的医院花了很贵的诊疗费。</p>
                <p>通过联系健康镖局HaoDoc，从韩国的医院选择到就诊预约，尽我们的最大努力来解决您在韩国就诊的所有不便！</p>
            </div>
        </div-->
    </div>

    <div id="page-5" class="section fp-auto-height" data-anchor="#06">
        <div class="footer">
            <div class="contact">
                <h6>CS CENTER</h6>
                <p id="tel">WechatId : Hao_Doc</p>
                <p id="worktime">AM 09:00 - PM 06:00</p>
                <p id="lunchtime">LUNCH 11:40 - 12:50</p>
                <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
            </div>
            <div class="company-info">
                <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
                <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
            </div>
            <div class="terms">
                <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
            </div>
            <div class="copyright">
                <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
            </div>
        </div>
    </div>

</div>


{{#section 'jquery'}}
    <script type="text/javascript" src="js/fullpage.js"></script>
    <script type="text/javascript" src="js/aboutjs.js"></script>
{{/section}}