

{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
{{/section}}


<section class="publicaciones-blog-home">
    <div class="container">
        <div class="row-page row">
            <!-- 하오닥 팀 소개 -->
            <div class="mainbox col-page col-xs-10 col-lg-12">
                <a href="/hpv0" class="fondo-publicacion-home">
                    <div class="img-publicacion-home">
                        <img class="img-responsive" src="/images/vaccine.png" width="800" height="150">
                    </div>
                    <div class="contenido-publicacion-home">
                    	  <br>
                        <h3>HaoDoc X Tndn HPV 疫苗活动</h3>
                        <p>只为您准备的HPV 疫苗活动</p>
                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>详细内容 </span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">查看很多的活动&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div>
            <!-- 하오닥 팀 소개 -->
            <div class="mainbox col-page col-xs-10 col-lg-12">
                <a href="/hpv0" class="fondo-publicacion-home">
                    <div class="img-publicacion-home">
                        <img class="img-responsive" src="/images/event.png" width="800" height="200">
                    </div>
                    <div class="contenido-publicacion-home">
                          <br>
                        <h3>HaoDoc Event</h3>
                        <p>Next Event</p>
                    </div>
                    <div class="d-none d-sm-block mascara-enlace-blog-home">
                        <span>详细内容 </span>
                    </div>
                    <!-- mobile web button -->
                    <span class="d-md-none float-right" >
                        <button class="mobile-btn btn">查看很多的活动&nbsp;&nbsp;&nbsp;(Click!)</button>
                    </span>
                </a>
            </div>
        </div>
    </div>
</section>
<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>(주) INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;대표 김승범</h5>
        <h5>사업자등록번호 631-05-01190 |&nbsp;&nbsp; HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>