<!DOCTYPE HTML>
<html lang="ko">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122389631-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-122389631-1');
        </script>
        <meta charset="utf-8" />
        <title>HaoDOc-HPV Event</title>
        <link rel="icon" href="images/favicon.ico" type="images/ico">
        <link rel="stylesheet" type="text/css" href="css/productcss.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="남성들에게 화장이 필요한 그 상황에 딱 맞는 성분의 제품으로 구성된 남성화장품 브랜드" />
        <meta property="og:title" content="When I Groom - Product">
        <meta property="og:description" content="화장이 필요한 순간, 딱 맞는 화장품" />
        <meta property="og:image" content="images/thumbnail.jpg" />
    </head>
    <body>

        <div class="headSet">
            <nav class="header">
            <!-- HEADER LOGO -->
            <a href="/"><img id="logo" alt="WHEN I GROOM" src="images/logo2.png"></a>
            <!-- HEADER MENU BAR -->
            <input id="menubar" type="image" src="images/menubar.png" />
            </nav>
            <div id="menu-display">
                <a href="javascript:void(0)" class="closebtn">&times;</a>
                <ul>
                    <li><a href="about">ABOUT</a></li>
                    <li><a href="hpv">HPV Event</a></li>
                </ul>
            </div>
        </div>
        
       
        <!-- Weibo ICON -->
        <a href="https://www.weibo.com/u/6589350358?topnav=1&wvr=6&topsug=1&is_all=1" target="_blank"><img id="facebook" alt="Facebook" src="images/weibo.png"></a>
        <div class="content">
            <h3 class="form-style-9">Step2. 예약금 결제 X Tndn</h3>
            <div class="form-style-9">
                <img src="images/QR.png">
                <p>결제가 완료되면, WechatId : Hao_Doc 으로 확인 메세지를 넣어주세요!</p>
            </div>
        </div>

        <div class="footer">
            <div class="contact">
                <h6>CS CENTER</h6>
                <p id="tel">WechatId : Hao_Doc</p>
                <p id="worktime">AM 09:00 - PM 06:00</p>
                <p id="lunchtime">LUNCH 11:40 - 12:50</p>
                <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
            </div>
            <div class="company-info">
                <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
                <h6>04003 서울특별시 마포구 서교동 478-3 501호</h6>
            </div>
            <div class="terms">
                <p><a href="#">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">이용안내</a></p>
            </div>
            <div class="copyright">
                <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
        <script src="js/productjs.js"></script>
    </body>
</html>