{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/hpv1.css">
{{/section}}

{{#section 'logo'}}
    <a href="/"><img id="logo" alt="HaoDoc" src="images/logo2.png"></a>
{{/section}}

<div class="content">
    <h3 class="form-style-9">Step2. 交预约金</h3>
    <div class="form-style-9">
        <img src="images/QR.png">
        <p>交预约金后请加健康镖局HaoDoc微信，微信号是 : Hao_Doc</p>
        <p>通过健康镖局HaoDoc微信来发微信进行确认！</p>
    </div>
</div>

<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>04003 서울특별시 마포구 서교동 478-3 501호</h6>
    </div>
    <div class="terms">
        <p><a href="#">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>


{{#section 'jquery'}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="js/productjs.js"></script>
{{/section}}