{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/teamcss.css">
{{/section}}



<!-- Team -->
<!--section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Team Member</h5>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/lion.jpg" alt="card image"></p>
                                    <h4 class="card-title">金承範</h4>
                                    <p class="card-text">想成为一个有正能量的人</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">金承範</h4>
                                    <p class="card-text">为了打造健康的世界开始迈出了HaoDoc 的第一步，
                                        想通过HaoDoc 帮助在韩华人更健康地在韩国生活。<br><br>
                                        Contact : seungbeom@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/jay.jpg" alt="card image"></p>
                                    <h4 class="card-title">李在勳</h4>
                                    <p class="card-text">这个世界不是因为你能做什么，而是你该做什么。</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">李在勳</h4>
                                    <p class="card-text">就像马云说的一样，看到中国朋友来韩国后生病的样子时，让我开始了HaoDoc。让中国人来韩国后和韩国人享受一样的医疗服务，这是我应该做的事。<br><br>
                                        Contact : jaehoon@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/george.jpg" alt="card image"></p>
                                    <h4 class="card-title">趙憲一</h4>
                                    <p class="card-text">要把HaoDoc 打造成韩国最好的社会的企业。</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">趙憲一</h4>
                                    <p class="card-text">从小就想打造一个对社会有价值的社会型企业。HaoDoc 就是能实现我个人的价值，并且有价值的企业。 <br><br>
                                        Contact : heonil@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/joe.JPG" alt="card image"></p>
                                    <h4 class="card-title">尹艺瑟</h4>
                                    <p class="card-text">每个成功者都要有一个开始。勇于开始，才能找到成功的路。 </p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">尹艺瑟</h4>
                                    <p class="card-text">自从我学汉语以来，我对中国的爱就越来越深了。我想用我的能力来帮助别人。<br><br>
                                        Contact : yeseul@haodoc.co.kr
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/tmfl_1447/?hl=ko">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->



<!-- Team -->
<div class="content">
    <div class="container">
         <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb40 text-center">
              
                    <h1>HaoDoc Team Member</h1>
            
            </div>
        </div>
        <!-- Team member Lion-->
        <div class="row">
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/team/lion.jpg" alt="HaoDoc Team Member 1">
                        <div class="team-content">
                            <h4 class="text-white mb0">金承範</h4>
                            <p class="team-meta">- Cheif Executive Officer</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <h4 class="mb0 text-white">金承範</h4>
                                <p class="mb30 team-meta">- 想成为一个有正能量的人</p>
                                <p>为了打造健康的世界开始迈出了HaoDoc 的第一步，想通过HaoDoc 帮助在韩华人更健康地在韩国生活。<br>
                                    Contact : seungbeom@haodoc.co.kr    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <!-- Team member Jay-->
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/team/jay.jpg" alt="HaoDoc Team Member 2">
                        <div class="team-content">
                            <h4 class="text-white mb0">李在勳</h4>
                            <p class="team-meta">- Cheif Operating Officer</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <h4 class="mb0 text-white">李在勳</h4>
                                <p class="mb30 team-meta">- 这个世界不是因为你能做什么，而是你该做什么。</p>
                                <p>就像马云说的一样，看到中国朋友来韩国后生病的样子时，让我开始了HaoDoc。让中国人来韩国后和韩国人享受一样的医疗服务，这是我应该做的事。<br>
                                    Contact : jaehoon@haodoc.co.kr
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <!-- Team member George-->            
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/team/george.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white mb0">趙憲一</h4>
                            <p class="team-meta">- Cheif Communication Officer</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                                <h4 class="mb0 text-white">趙憲一</h4>
                                <p class="mb30 team-meta">- 要把HaoDoc 打造成韩国最好的社会的企业。</p>
                                <p>从小就想打造一个对社会有价值的社会型企业。HaoDoc 就是能实现我个人的价值，并且有价值的企业。<br>
                                    Contact : heonil@haodoc.co.kr
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.team-img -->
            <!-- Team member Joe-->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!-- team-img -->
                <div class="team-block">
                    <div class="team-img">
                        <img src="/images/team/zoe.jpg" alt="" class="img-fluid">
                        <div class="team-content">
                            <h4 class="text-white mb0">尹艺瑟</h4>
                            <p class="team-meta">- Chief Marketing Officer</p>
                        </div>
                        <div class="overlay">
                            <div class="text">
                    
                                <h4 class="text-white mb0">尹艺瑟</h4>
                                <p class="mb30 team-meta">- 每个成功者都要有一个开始。勇于开始，才能找到成功的路。 </p>
                                <p>自从我学汉语以来，我对中国的爱就越来越深了。我想用我的能力来帮助别人。<br>
                                Contact : yeseul@haodoc.co.kr
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 text-center">
          We are team INSPIRE
          </div></div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>