{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="css/teamcss.css">
{{/section}}






<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">Team Member</h5>
        <div class="row">
            <!-- Team member Lion-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/lion.jpg" alt="card image"></p>
                                    <h4 class="card-title">金承範</h4>
                                    <p class="card-text">想成为一个有正能量的人</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">金承範</h4>
                                    <p class="card-text">为了打造健康的世界开始迈出了HaoDoc 的第一步，
                                        想通过HaoDoc 帮助在韩华人更健康地在韩国生活。<br><br>
                                        Contact : seungbeom@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Jay-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/jay.jpg" alt="card image"></p>
                                    <h4 class="card-title">李在勳</h4>
                                    <p class="card-text">这个世界不是因为你能做什么，而是你该做什么。</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">李在勳</h4>
                                    <p class="card-text">就像马云说的一样，看到中国朋友来韩国后生病的样子时，让我开始了HaoDoc。让中国人来韩国后和韩国人享受一样的医疗服务，这是我应该做的事。<br><br>
                                        Contact : jaehoon@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member George-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/george.jpg" alt="card image"></p>
                                    <h4 class="card-title">趙憲一</h4>
                                    <p class="card-text">要把HaoDoc 打造成韩国最好的社会的企业。</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">趙憲一</h4>
                                    <p class="card-text">从小就想打造一个对社会有价值的社会型企业。HaoDoc 就是能实现我个人的价值，并且有价值的企业。 <br><br>
                                        Contact : heonil@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Joe-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/joe.JPG" alt="card image"></p>
                                    <h4 class="card-title">尹艺瑟</h4>
                                    <p class="card-text">每个成功者都要有一个开始。勇于开始，才能找到成功的路。 </p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">尹艺瑟</h4>
                                    <p class="card-text">自从我学汉语以来，我对中国的爱就越来越深了。我想用我的能力来帮助别人。<br><br>
                                        Contact : yeseul@haodoc.co.kr
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/tmfl_1447/?hl=ko">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Kelly-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="/images/kelly.jpg" alt="card image"></p>
                                    <h4 class="card-title">金美江</h4>
                                    <p class="card-text">想要成为守候最后一班岗的人</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">金美江</h4>
                                    <p class="card-text">想成为提供让人感到舒适的UI,UX 设计师<br><br>
                                        Contact : migang@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Henry-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="/images/henry.jpeg" alt="card image"></p>
                                    <h4 class="card-title">刘人赫</h4>
                                    <p class="card-text">做个好人，就值了人生</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">刘人赫</h4>
                                    <p class="card-text">作为留学生最能体会到外国人在异乡生病时的感受，趁年轻做点有意义的事情。做有良心的医疗事业是很难的，但是和一帮韩国好朋友一起努力去做就感到充满力量，希望通过我们的努力，给整个社会带来一点小小的改变。<br><br>
                                        Contact : haodoc@haodoc.co.kr
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member Steven-->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="img-fluid" src="/images/steven.jpeg" alt="card image"></p>
                                    <h4 class="card-title">刘人博</h4>
                                    <p class="card-text">徐小平说过一句话是，我认识的高手，都有一种“舍易求难”的本能。</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">刘人博</h4>
                                    <p class="card-text">作为中国留学生，在韩国留学期间，尽一己之力，服务在韩华人。<br><br>
                                        Contact : haodoc@haodoc.co.kr
                                    </p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://www.instagram.com/baozi448/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
        </div>
    </div>
</section>
<!-- Team -->

<div class="footer">
    <div class="contact">
        <h6>CS CENTER</h6>
        <p id="tel">WechatId : Hao_Doc</p>
        <p id="worktime">AM 09:00 - PM 06:00</p>
        <p id="lunchtime">LUNCH 11:40 - 12:50</p>
        <h6 id="email">E-mail: haodoc@haodoc.co.kr</h6>
    </div>
    <div class="company-info">
        <h5>INSPIRE&nbsp;&nbsp;|&nbsp;&nbsp;HaoDoc</h5>
        <h6>02841 서울시 성북구 안암로 145 경영본관 2층 일진창업센터 220호</h6>
    </div>
    <div class="terms">
        <p><a href="/rules">이용약관</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/personal">개인정보취급방침</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/rules">이용안내</a></p>
    </div>
    <div class="copyright">
        <p>COPYRIGHT © 2018 INSPIRE All rights reserved</p>
    </div>
</div>