@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700|Noto+Sans+SC:100,300,400,700');

/* base */
*{margin: 0; padding: 0; border: 0;}
img{border: 0 none; max-width: 100%; height: auto;}
dl,ul,ol,li{list-style: none;}
input,select,textarea,button{font-size: 100%;}
button{background-color: transparent; cursor: pointer;}
table{width: 100%; border-collapse: collapse; border-spacing: 0;}
body{-webkit-text-size-adjust: none; overflow-x: hidden; overflow-y: scroll;}
/* input,select,textarea,button{-webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; border-radius: 0;} */
div,li,input,textarea,button:focus{outline: none;}
body,th,td,input,select,textarea,button{font-size: 13px; line-height: 1.4; font-family: 'Noto Sans KR', sans-serif; color: #3b3b3b;}
textarea{overflow-y: auto; resize: none;}
label{cursor: pointer;}
a{color: #3b3b3b; text-decoration: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
.sc{font-family: 'Noto Sans SC', sans-serif;}

/* common */
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
.fr{float: right;}
.relative{position: relative;}
.absolute{position: absolute;}
.vertical-middle{display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
.image.vertical-middle{overflow: hidden;}
.image.vertical-middle img{display: block; width: 100%;}
.ellipsis{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.ellipsis-multi{overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word;}
.dimmed{display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0,0.5);}
.inner{width: 954px; margin: 0 auto; box-sizing: border-box;}

/* style */
.header{background: #fff;}
.header > .inner{height: 90px; padding-left: 40px;}
h1 a{display: block; width: 232px; height: 90px; background: url('../images/logo_header.png') no-repeat center; background-size: 232px auto;}
.header .btn-user{display: block; line-height: 90px; font-size: 20px; color: #717171;}
.header .btn-user .image{width: 40px; height: 40px; border-radius: 50%; margin: 25px 0 0 5px;}

.nav{height: 50px; background: url('../images/bg_nav.jpg') repeat-x;}
.nav li{float: left; width: 25%;}
.nav li a{position: relative; display: block; text-align: center; line-height: 50px; font-size: 20px; color: #fff; font-weight: 300; transition: all 0.4s;}
.nav li a:hover{color: #ffcccc;}
.nav li a.active{font-weight: 400;}
.nav li a.active:after{position: absolute; z-index: 400; left: 0; bottom: -7px; display: block; content: ''; width: calc(100% - 40px); margin: 0 20px; height: 14px; background: #9a0000;}

.header .current{display: none; position: relative; height: 50px; background: #fff; font-size: 18px; color: #606060;}
.header .current .title{text-align: center; line-height: 50px;}
.header .current .btn-back{position: absolute; left: 0; top: 0; width: 40px; height: 50px; background: url('../images/btn_back.png') no-repeat center; background-size: 8px auto;}

.container{padding-bottom: 40px;}
.container.sub{padding-bottom: 0;}

.section-main{position: relative; height: 420px;}
.section-main .inner.relative{height: 420px;}
.lnb{position: absolute; z-index: 300; left: 0; top: 0; width: 232px; height: 420px; background: rgba(255,255,255,0.9); padding: 20px 0 40px 0; box-sizing: border-box;}
.lnb .swiper-container{width: 232px; height: 360px;}
.lnb .swiper-slide{transition: all 0.4s;}
.lnb .swiper-slide:hover{background-color: #fff;}
.lnb .swiper-slide a{display: block; line-height: 36px; font-size: 17px; color: #505050; padding-left: 50px; box-sizing: border-box; transition: all 0.4s;}
.lnb .swiper-slide a img{display: inline-block; width: 32px; vertical-align: middle; margin-right: 30px; margin-bottom: 2px;}
.lnb .swiper-slide.nose img{width: 18px; margin-left: 8px;}
.lnb .swiper-slide.pillar img{width: 30px; margin-left: 2px;}
.lnb .swiper-slide.botox img{width: 27px; margin-left: 2px;}
.lnb .swiper-button-next{right: 50%; margin-right: -12.5px; top: auto; margin-top: 0; bottom: 17px; width: 25px; height: 13px; background: url('../images/arrow_slide_category.png') no-repeat center; background-size: 25px 13px;}

.box-lnb-2depth{position: absolute; left: 232px; top: 0; width: 0; height: 420px; padding-top: 20px; padding-bottom: 20px; box-sizing: border-box; background: rgba(255,255,255,0.8); overflow: hidden; transition: all 0.4s;}
.lnb-2depth{width: 360px; height: 380px;}
.lnb-2depth .title{display: block; line-height: 40px; border-bottom: 1px solid rgba(0,0,0,0.1);}
.lnb-2depth .text{font-size: 17px; font-weight: 500;}
.lnb-2depth .more{font-size: 15px;}
.lnb-2depth .subject li{float: left; margin: 0 10px; line-height: 34px;}
.lnb-2depth .subject li:first-child{margin-left: 0;}
.lnb-2depth .subject li:last-child{margin-right: 0;}
.lnb-2depth .subject li a{display: block; font-size: 14px;}
.lnb-2depth .subject li a.point{color: #9a0000;}

.lnb-m{position: relative; display: none; background: #fff; padding: 17px 0 23px;}
.lnb-m > a{display: block;}
.lnb-m .swiper-slide > a:last-child{margin-top: 5px;}
.lnb-m a .icon{width: 44px; height: 44px; border-radius: 50%; margin: 0 auto; background-color: #f4f4f4; background-repeat: no-repeat; background-position: center; background-size: 32px auto; text-align: center; font-size: 12px; color: #505050; line-height: 44px;}
.lnb-m a .text{text-align: center; font-size: 12px; color: #505050; margin-top: 3px;}
.lnb-m a.eye .icon{background-image: url('../images/icon_eye.png');}
.lnb-m a.nose .icon{background-image: url('../images/icon_nose.png'); background-size: 15px auto;}
.lnb-m a.breast .icon{background-image: url('../images/icon_breast.png'); background-size: 23px auto;}
.lnb-m a.pillar .icon{background-image: url('../images/icon_pillar.png'); background-size: 25px auto;}
.lnb-m a.botox .icon{background-image: url('../images/icon_botox.png'); background-size: 23px auto;}
.lnb-m a.face .icon{background-image: url('../images/icon_face.png');}
.lnb-m a.fat .icon{background-image: url('../images/icon_fat.png');}
.lnb-m a.hair .icon{background-image: url('../images/icon_hair.png');}
.lnb-m a.teeth .icon{background-image: url('../images/icon_teeth.png');}
.lnb-m .swiper-pagination-bullet{display: inline-block; width: 24px; height: 4px; border-radius: 2px; margin: 0 2px !important; background: #d4d4d4; opacity: 1;}
.lnb-m .swiper-pagination-bullet-active{background: #9a0000;}
.lnb-m .swiper-pagination-bullets{width: 100%; text-align: center; bottom: 7px;}

.slide-main{position: absolute; z-index: 200; left: 0; top: 0; width: 100%;}
.slide-main .swiper-slide a{height: 420px;}
.slide-main .swiper-slide a .pc{display: block;}
.slide-main .swiper-slide a .mobile{display: none;}
.slide-main .swiper-pagination-bullet{width: 65px; height: 10px; border-radius: 5px; background: #9a0000; opacity: 1;}
.slide-main .swiper-pagination-bullet-active{background: #fff;}
.slide-main .swiper-pagination-bullets{bottom: 15px;}
.slide-main .swiper-button-prev{left: 50%; margin-left: -565px; margin-top: -19px; width: 38px; height: 38px; background: url('../images/arrow_slide_prev.png') no-repeat center; background-size: 38px 38px;}
.slide-main .swiper-button-next{right: 50%; margin-right: -565px; margin-top: -19px; width: 38px; height: 38px; background: url('../images/arrow_slide_next.png') no-repeat center; background-size: 38px 38px;}

h2{font-size: 32px; color: #e63434;}
.section-contents{margin-top: 30px;}

.box-all{width: 680px; padding: 0 20px; box-sizing: border-box;}
.box-all h2{position: relative; width: 90px;}
.box-all h2:after{position: absolute; right: 0; top: 50%; margin-top: -18px; content: ''; width: 2px; height: 36px; background: #bfbfbf;}
.box-all .swiper-container{width: calc(100% - 160px); margin: 0 30px 0 35px;}
.box-all .swiper-slide{width: auto;}
.box-all .swiper-slide a{display: block; line-height: 41px; text-align: center; font-size: 23px; color: #717171; transition: all 0.4s;}
.box-all .swiper-slide a:hover{color: #e63434;}
.box-all .swiper-button-next{right: 0; margin-right: 0; margin-top: -8px; bottom: 17px; width: 25px; height: 13px; background: url('../images/arrow_slide_category.png') no-repeat center; background-size: 25px 13px; transform: rotate(270deg);}

.fixed-right{position: fixed; z-index: 400; right: 50%; margin-right: -697px; top: 753px; width: 88px; height: 88px;}
.fixed-right > a{display: block; width: 88px; height: 88px; background: #ef6161; border-radius: 50%; line-height: 88px; text-align: center; color: #fff; box-sizing: border-box;}
.fixed-right .btn-more{font-size: 50px; font-weight: 300;}
.fixed-right .btn-more:after{content: '+';}
.fixed-right .btn-more.active{line-height: 78px;}
.fixed-right .btn-more.active:after{content: '-';}
.fixed-right .btn-qr{display: none; position: absolute; top: -104px; border: 12px solid #f8b9b9; line-height: 64px; font-size: 22px; font-weight: 500;}
.fixed-right .btn-qr:before{width: 0; height: 0; position: absolute; z-index: 400; right: 100px; bottom: -16px; content: ''; background: url('../images/banner_qr.png') no-repeat center; background-size: 573px 334px; transition: all 0.4s;}
.fixed-right .btn-qr.active:before{width: 573px; height: 334px;}

.section-main.sub{height: 260px;}
.section-main.sub > .inner{position: relative; height: 260px;}
.section-main.sub .slide-main .swiper-slide a{height: 260px;}
.section-main.sub .slide-main .swiper-button-prev{left: 130px; margin-left: 0;}
.section-main.sub .slide-main .swiper-button-next{right: 130px; margin-right: 0;}
.section-main.sub .slide-main .swiper-pagination-bullet{width: 40px; height: 6px; border-radius: 3px;}
.section-main.sub .slide-main .swiper-pagination-bullets{bottom: 10px;}

.sub-category{height: 50px; padding: 0 40px;}
.sub-category li{float: left;}
.sub-category li a{display: block; height: 50px; line-height: 50px; text-align: center; font-size: 24px; font-weight: 300; transition: all 0.4s;}
.sub-category li a.active{background: #c92323; color: #fff;}
.sub-category li a:hover{color: #c92323;}
.sub-category li a.active:hover{background: #c92323; color: #fff;}
.sub-category-05 li{width: 20%;}

.section-contents.sub{margin-top: 0;}

.box-sub-content{padding: 30px 60px; background: #f5f5f5; box-sizing: border-box;}
.box-sub-content .box-all{width: 100%; background: #fff; padding: 0;}
.box-sub-content .box-all .swiper-container{width: calc(100% - 190px);}
.box-sub-content .box-all .swiper-slide a{line-height: 46px; font-size: 18px;}
.box-sub-content .box-all h2{line-height: 46px; font-size: 26px; text-align: center;}
.box-sub-content .box-all h2:after{height: 30px !important; margin-top: -15px !important;}
.box-sub-content .box-all .swiper-button-next{right: 30px;}

h3.bar{height: 50px; background: #e74747; font-size: 24px; font-weight: 400; line-height: 50px; padding: 0 20px; color: #fff; margin-bottom: 18px;}
h3.bar.margin-none{margin: 0;}

/* media query */
@media screen and (max-width: 1199px){
  body{background: #e6e6e6;}
  .inner{width: 100%;}

  .header > .inner{position: relative; height: 54px; padding: 0;}
  h1{position: absolute; left: 50%; margin-left: -61px; top: 0;}
  h1 a{height: 54px; width: 123px; height: 54px; background-size: 123px 30px;}
  .header .btn-user{line-height: 54px;}
  .header .btn-user .name{display: none;}
  .header .btn-user .image{width: 30px; height: 30px; margin: 13px 15px 0 0;}

  .nav{height: 36px;}
  .nav li a{line-height: 36px; font-size: 15px;}
  .nav li a.active:after{bottom: 0; width: calc(100% - 20px); margin: 0 10px; height: 5px;}

  .container.exist-bottom{padding-bottom: 50px;}

  .section-main{height: 145px;}
  .section-main .inner.relative{display: none;}
  .lnb{display: none;}
  .lnb-m{display: block;}
  .slide-main .swiper-slide a{height: 145px;}
  .slide-main .swiper-slide a .pc{display: none;}
  .slide-main .swiper-slide a .mobile{display: block;}
  .slide-main .swiper-pagination-bullet{width: 24px; height: 4px; border-radius: 2px; margin: 0 2px !important;}
  .slide-main .swiper-pagination-bullets{bottom: 5px;}

  .section-contents{margin-top: 6px;}

  .box-all{float: none; width: 100%; background: #fff; margin-top: 6px; padding: 0;}
  .box-all > .relative{border-bottom: 2px solid #e6e6e6;}
  .box-all h2{width: 70px; text-align: center; line-height: 50px; font-size: 24px; color: #505050; font-weight: 500;}
  .box-all .swiper-slide a{font-size: 15px; line-height: 50px;}
  .box-all .swiper-container{width: calc(100% - 90px); margin: 0 0 0 20px;}
  .box-all .swiper-button-next{display: none;}

  .section-main.sub{height: 145px;}
  .section-main.sub > .inner{position: relative; height: 145px;}
  .section-main.sub .slide-main .swiper-slide a{height: 145px;}
  .section-main.sub .slide-main .swiper-button-prev{display: none;}
  .section-main.sub .slide-main .swiper-button-next{display: none;}
  .section-main.sub .slide-main .swiper-pagination-bullet{width: 24px; height: 4px; border-radius: 2px; margin: 0 2px !important;}
  .section-main.sub .slide-main .swiper-pagination-bullets{bottom: 5px;}

  .fixed-right{right: 20px; bottom: 20px; top: auto; margin: 0; width: 44px; height: 44px;}
  .fixed-right > a{width: 44px; height: 44px; line-height: 44px;}
  .fixed-right .btn-more{font-size: 30px;}
  .fixed-right .btn-more.active{line-height: 38px;}
  .fixed-right .btn-qr{top: -54px; border: 6px solid #f8b9b9; line-height: 32px; font-size: 13px;}
  .fixed-right .btn-qr:before{bottom: -10px; right: 50px; width: 0; height: 0; background-size: 287px 166px;}
  .fixed-right .btn-qr.active:before{width: 287px; height: 166px;}

  .box-sub-category{background: #fff;}
  .sub-category{height: 36px; padding: 0;}
  .sub-category li a{height: 36px; line-height: 36px; font-size: 15px; font-weight: 400;}
  .sub-category li a.active{background: none; color: #d93232;}

  .box-sub-content{padding: 0; padding-bottom: 60px;}
  .box-sub-content .box-all{margin-top: 4px;}
  .box-sub-content .box-all .swiper-container{width: calc(100% - 90px);}
  .box-sub-content .box-all h2{font-size: 24px; color: #e63333;}
  .box-sub-content .box-all .swiper-slide a{font-size: 15px;}

  .header .current{display: block;}
}
