{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/coupon1.css">
{{/section}}

<div id="coupon1_app">

    <div class="content">
        <h3 class="form-style-9">Step2. 个人信息</h3>
        <form class="form-style-9 stepOneForm" @submit="checkForm">
            <ul>
                <li>
                    <label for="chineseName">中文姓名</label> <input type="text" v-model="newPayer.chineseName" name="chineseName" id="chineseName" class="field-style field-full align-left" placeholder="中文姓名" />
                </li>
                <li>
                    <label for="englishName">护照英文姓名</label> <input type="text" v-model="newPayer.englishName" name="englishName" id="englishName" class="field-style field-full align-left" placeholder="韩文姓名" />
                </li>
                <li>
                    <label for="name">韩文姓名</label> <input type="text" v-model="newPayer.payerName" name="payerName" id="name" class="field-style field-full align-left" placeholder="不知道的话请空着不填" />
                </li>
                <li>
                    <label for="gender">性别</label>
                    <div class="field-style field-full align-left">
                        <input type="radio" v-model="newPayer.gender" name="gender" value="male" id="gender" checked> 男 &nbsp;&nbsp;
                        <input type="radio" v-model="newPayer.gender" name="gender" value="female" id="gender"> 女<br>
                    </div>
                </li>
                <li>
                    <label for="birthDay">出生年月日</label> <input type="text" v-model="newPayer.birthDay" name="birthDay" class="field-style field-full align-none" id="birthDay" placeholder="(1993-04-07)" />
                </li>
                <li>
                    <label for="phone">电话号码</label> <input type="text" v-model="newPayer.phone" name="phone" class="field-style field-full align-left" id="phone" placeholder="(010-1234-5678)" />
                </li>
                <li>
                    <label for="wechatID">微信号</label> <input type="text" v-model="newPayer.wechatID" name="wechatID" class="field-style field-full align-none" id="wechatID" placeholder="EX)HaoDoc" />
                </li>
                <li>
                    <input type="submit" class="align-right" value="Submit" />
                </li>
                <li v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                      <li v-for="error in errors">\{{ error }}</li>
                    </ul>
                </li>
            </ul>
        </form>
    </div>

</div>


{{#section 'jquery'}}

    <script src="/js/api/payer.js"></script>
    <script src="/js/controllers/coupon/coupon1Controller.js"></script>
{{/section}}