
{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="/css/question.css">
{{/section}}

<br>


<div class="infoCard">
    <div class="card" style="border: 1px solid gray;">
        <div style="margin:10px;">
            <div style="font-size:1em">
                请将您想要传达给韩国医院医护人员的内容发送给我们，HaoDoc健康镖局的专业翻译人员会快速并准确的为您提供翻译服务。

                下面的个人信息都是提供症状翻译服务时必要的内容，麻烦请准确填写。提交申请表之后，我们健康镖局HaoDoc的客服职员马上会给您联系为您提供您想知道的信息。并且，服务提供过程因需要查询资料无法马上回复之处请见谅。

                客服会加您的微信在工作时间一小时内给您回复（请及时通过客服微信的追加请求）
                工作日9：00-18：00
                （午休11：30-12：30）
            </div>
        </div>
    </div>
</div>

{{!-- 

    한국 병원 의료인원에게 전달하고 싶은 내용을 정확하게 적어주세요.우리 하오닥 전문 번역인원 빠르고 정확하게 번역해드리겠습니다
    아래 내용들이 다 보험에 대한 문의 진행 시 필요하는 정보들입니다. 아래 내용 작성하고 제출한 후 우리 하오닥 고객센터 바로 연락드릴겁니다. 서비스 제공하는 과정에 정보 찾는데에 시간 걸려서 바로 답변 못하다는 점 양해 부탁드리겠습니다.

    *하오닥 고객센터 업무시간 1시간 내에 답변드릴겁니다(고객센터의 친추 통과 부탁드립니다)
    하오닥 업무시간  9:00-18:00
    점심시간:   11:30-12:30 

 --}}

<div class="infoCard" id="app">
    <div class="card-body">
        <h3 class="text-center"> 症状翻译服务
{{!-- 번역서비스 --}}</h3>
        <hr>
        <div class="form" role="form">

            <div class="form-group">
                <label for="cc_name">1. 亲爱的顾客，请仔细读一下以下须知事项，感谢您通过HaoDoc 这一平台来咨询和邀请翻译，我们可以为您提供医疗翻译服务，但是因为您个人表达错误的病症而导致我们的翻译错误产生的一切后果及责任我们概不负责，如果您同意的话请回复:”同意”。得到您的同意后我们会尽心尽力为您提供翻译服务。 </label>
                {{!-- 1.하오닥을 통해 번역하는 것을 감사합니다.우리 고객님께 번역서비스 제공할 수 있는데 개인 잘못 표현으로 인해 문제 생길 경우 하오닥 책임지지 않습니다.동의하시면＂동의＂를 선택해주세요. 고객님의 동의를 받은후 최선을 다 해서 변역를 하겠습니다. 
                    MODEL : agreement--}}
                <input type="radio" id="agree" name="agreement" v-model="newTranslate.agreement" value="true" checked="checked" />
                <label for="agree">同意{{!-- 동의 --}}</label>
                <input type="radio" id="disagree" name="agreement" v-model="newTranslate.agreement" value="false" style="margin-left:20px" />
                <label for="disagree">不同意{{!-- 동의하지 않음 --}}</label>            
            </div>
            <div class="form-group">
                <label>2. 需要进行症状翻译的内容</label>
                {{!-- 2.번역이 필요한 문장.  
                    MODEL : Content--}}
                <textarea v-model="newTranslate.content" class="form-control" placeholder="需要进行症状翻译的内容{{!-- 번역이 필요한 말 --}}" rows="7" ></textarea>
            </div>
            <div class="form-group">
                <label>3. 其他<!-- 기타 --></label>
                {{!-- 3. 기타.
                  MODEL : Remarks --}}
                <input type="text" v-model="newTranslate.remarks" class="form-control" placeholder="之外若有其他内容可随意填写
{{!-- 그 외에 말씀해주실 사항들이 있다면 편하게 적어주세요. --}}" >
            </div>
            <div class="form-group">
                <label>4. 姓名<!-- 이름--></label>
                <input type="text" v-model="newTranslate.name" class="form-control" placeholder="可以不用写实名{{!-- 실명을 기재하지 않으셔도 괜찮습니다 --}}" >
            </div>
            <div class="form-group">
                <label>5. 微信号<!-- 위챗아이디 --></label>
                <input type="text" v-model="newTranslate.wechatID" class="form-control" placeholder="回答后若想收到我们HaoDoc的联系请填写
{{!-- 답이 달릴시에 연락받고 싶다면 남겨주세요 --}}" >
            </div>
            <div class="form-group">
                <label>6. 密码<!-- 비밀번호--></label>
                <input type="text" v-model="newTranslate.password" class="form-control" placeholder="使用于内容修改及删除时
{{!-- 글의 수정, 삭제에 사용됩니다. --}}" >
            </div>
            <hr>
            <div class="form-group">
                <button type="submit" class="btn mobile-btn" @click="makeTranslate">咨询{{!-- 문의하기 --}}</button>
                <li v-if="errors.length">
                    <b>请修改以下项目{{!-- 아래사항들을 수정해 주세요. --}}</b><br><br>
                    <ul>
                      <li v-for="error in errors">\{{ error }}</li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</div>


{{#section 'jquery'}}
    <script type="text/javascript" src="/js/api/translate.js"></script>
    <script type="text/javascript" src="/js/controllers/question/translate/translateController.js"></script>
{{/section}}